
   .slider.form.curso .filters-holder{
        margin-bottom: 0;
   }
   .slider-program{position:relative; width:100%; margin:0 auto 0px; overflow:hidden;}

   .slider-program .slider-wrapper{position:relative; display:flex; width:100%; height:100%; z-index:1; flex-shrink:0;}

   .slider-program .frame{position:relative; display:flex; width:100%; height:auto; flex-shrink:0; z-index:0; flex-wrap:wrap;}

   .slider-program .text{display:flex; width:50%; padding:40px 0px; background-color:var(--black); text-align:center; align-items:center; justify-content:center; }

   .slider-program .text .block{width:100%; max-width:50%; font-family:robotoRegularCond; }

   .slider-program .text .block p{display:block; margin:10px 0; color:var(--white); font-size: 25px; line-height: 25px;}

   .slider-program .text .block h4{display:block; margin: 20px 0 10px; color:var(--yellow-edit); font-size:25px; text-transform:uppercase;}

   .slider-program .text .block h5{display:block; margin:10px 0; color:var(--gray); font-size:20px; text-transform:uppercase;}

   .slider-program .text .block .btn-more{margin-top:20px; border:2px solid var(--gray); color:var(--white); height: 50px; line-height: 46px;}

   .slider-program .image{position:relative; overflow: hidden;    height: 100%;   }

   .slider-program .image:before{display:block; content:''; padding-top:100%;}

   .slider-program .image .img{position:absolute; top:0; left:0; width:100%; height:100%; background-size:cover; background-repeat: no-repeat; background-position:top; transition: all 1.8s cubic-bezier(0,.96,.28,1.01);}

   .slider-program .image .icon{position:absolute; display:flex; top:20px; right:20px; width:50px; height:50px; border-radius:100%; background-color:var(--white); align-items:center; justify-content:center;z-index: 4;}

   .slider-program .image .icon img{width:22px; height:auto; }

   .slider-program .slider-nav{position:absolute;}

   .slider-program .button-prev, .slider-program .button-next{position:absolute; display:flex; bottom:0; left:0; right:0; width:60px; height:60px; margin:auto; z-index:1; align-items:center; justify-content:center; cursor:pointer;}

   .slider-program .button-prev::before, .slider-program .button-next::before{content:''; width:20px; height:20px; border-top:4px solid var(--white); border-radius:3px;}

   .slider-program .button-prev{left:-60px;}

   .slider-program .button-prev::before{border-left:4px solid var(--white); transform:rotate(-45deg);}

   .slider-program .button-next{right:-60px;}

   .slider-program .button-next::before{border-right:4px solid var(--white); transform:rotate(45deg);}

   .slider-program a.image-link{
       width: 50%;
   }
   .slider-program .button-next:hover:before{
        border-right:4px solid var(--yellow-edit);
        border-top: 4px solid var(--yellow-edit);
   }
   .slider-program .button-prev:hover:before{
        border-left:4px solid var(--yellow-edit);
        border-top:4px solid var(--yellow-edit);
   }
   
    .slider-program .image:hover .img{
        transform: scale(1.1);
        transition: all 1.8s cubic-bezier(0,.96,.28,1.01);
    }
    .slider-program .image:hover .icon{
        background-color: var(--yellow-edit);
    }
    .slider-program .image .block-hover{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        overflow: hidden;
    }
    .slider-program .image .block-hover .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        transition: opacity .3s ease-out;
        backface-visibility: hidden;
    }
    .slider-program .image:hover .block-hover .bg{
        opacity: 1;
    }
    .slider-program .image .block-hover .border{
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border: 4px solid var(--white);
        position: absolute;
        left: 0;
        top: 0;
        transition: all .3s ease-out;
        transform: matrix(1,0,0,1,-5,-5);
        backface-visibility: hidden;
        z-index: 4;
    }
    .slider-program .text .block .btn-more:hover .btn-icon .inner .submit-icon{
        transform: scale(1);
    }
    .slider-program .btn-more:hover .slider-program .btn-icon .inner .submit-icon{
        transform: scale(1) !important;
    }
   .slider-program .image .img{
       background-position:top right !important;
     }
   
    @media screen and (max-width:1024px){
        .slider-program .text .block{
            max-width: 65%;
        }
        .slider-program .image .img{
            background-size: cover;
        }
        .alumni-stories .block-text-and-image {
            margin-bottom: 0px;
        }
    }
    
   @media screen and (max-width:968px){
    
      .slider-program{ margin:auto;}

      .slider-program .frame{
            background-color: #000000;
            flex-direction: row; 
            height: auto;
        }

      .slider-program .text{width:100%; 
        align-items: initial;order:2; height: auto;}
      
      .slider-program a.image-link {
         width: 100%;
      }
      .slider-program .image{width:100%; order:1;height: 340px;}

      .slider-program .button-prev{ top: 310px; left:0; right:inherit;}

      .slider-program .button-next{ top: 310px; left:inherit; right:0;}
     
      .slider-program .button-prev, .slider-program .button-next{
          bottom: initial;
          background-color: rgba(0, 0, 0, 0.6);
      }
   }
   
   @media screen and (max-width:488px){
    .block-formacao-info>.content{
        margin: 50px auto -40px;
    }
    .slider-program .text .block {
        max-width: 72%;
        }
      .slider-program .text .block h5{
          font-size: 13px;
      }
      .slider-program .text .block p{
        font-size: 16px;
        line-height: 23px;
      }
      .slider-program .text .block h4{
        font-size: 16px;
        margin: 16px 0 2px;
      }
   }
 
@media screen and (max-width: 500px){
    .block-full[data-old=block-full].blog .block-content .image img{
        transform: none;
    }
    .block-full[data-old=block-full] .block-content .image img{
        left: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
    .block-full[data-old=block-full] .block-content .image{
        height: auto;
        padding-bottom: 0;
    }
    
}

.page-edit-remote-learning .block-info .icon.icon-pdf{
    float: left;
    background: url(https://edit.com.pt/wp-content/themes/edit/dist/images/assets/docs.png) no-repeat;
    background-size: 77px;
    width: 74px;
    height: 50px;
    margin-right: -26px;
}
.page-edit-remote-learning .block-info .download-btn .info {
    float: left;
    font-size: 14px;
    margin-left: 20px;
}
.page-edit-remote-learning .block-info .download-btn .info .text-apresentacao {
    font-size: 13px;
    line-height: 15px;
    color: #666;
    font-family: robotoBoldCond;
    text-transform: uppercase;
}
.page-edit-remote-learning .block-info .download-btn .info .text-download {
    font-family: NeuzeitSLTW01-BookHeavy;
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: color .2s;
    text-transform: uppercase;
}
.page-edit-remote-learning .block-info .download-btn {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 10px;
}

.block-formacao-info .curso .info span.red {
    color: red !important;
}

.page-edit-remote-learning .block-mais-info {
    margin-top: 80px;
}

.active-swiper{z-index:999 !important;}

.block-formacao-info .curso.pos-graduacao .block-info svg{
        
}
.block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .tooltip-remote span{
    content: 'GMT Lisbon';
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -35px;
    left: calc(100% - 40px);
    font-family: robotoBoldCond;
    font-weight: 700;
    font-size: 11px;
    width: 70px;
    color: #FFFFFF;
    height: 23px;
    padding: 1px 6px;
    opacity: 0;
    visibility: hidden;
    background: var(--pos-graduacao);
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.tooltip-remote{
    position: absolute;
    top: 7px;
    right: -21px;
}
.block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .tooltip-remote span::after{
    width: 0;
    content: '';
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--pos-graduacao);
    position: absolute;
    left: calc(50% - 10px);
    top: 18px;
}

.block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .info:hover .tooltip-remote span{
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 300ms;
    opacity: 1;
}


@media only screen and (max-width: 700px) {
    .tooltip-remote {
        position: absolute;
        top: 4px;
        right: -21px;
    }
    .block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .tooltip-remote span{
        padding: 4px 7px;
    }

}

@media only screen and (max-width: 700px) and (min-width: 469px){
    .tooltip-remote {
        position: relative;
        right: 0px;
    }
    .block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .tooltip-remote span{
        top: -2px;
        left: calc(31px);
    }
    .block-formacao-info .curso.pos-graduacao .block-info:nth-child(2) .tooltip-remote span::after{
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid var(--pos-graduacao);
        left: -14px;
        top: 3px;
    }
    

}
.bloco-images .swiper-button-next:after, 
.bloco-images .swiper-button-prev:after {
    font-size: 29px !important;
}
.slider-images {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    margin-top: 30px;
}
.slide-image {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}