
   .slider-program{position:relative; width:100%; margin:0 auto 40px; overflow:hidden;}

   .slider-program .slider-wrapper{position:relative; display:flex; width:100%; height:100%; z-index:1; flex-shrink:0;}

   .slider-program .frame{position:relative; display:flex; width:100%; height:auto; flex-shrink:0; z-index:0; flex-wrap:wrap;}

   .slider-program .text{display:flex; width:50%; padding:40px 0px; background-color:var(--black); text-align:center; align-items:center; justify-content:center; }

   .slider-program .text .block{width:100%; max-width:50%; font-family:robotoRegularCond; }

   .slider-program .text .block p{display:block; margin:10px 0; color:var(--white); font-size: 25px; line-height: 25px;}

   .slider-program .text .block h4{display:block; margin: 20px 0 10px; color:var(--yellow-edit); font-size:25px; text-transform:uppercase;}

   .slider-program .text .block h5{display:block; margin:10px 0; color:var(--gray); font-size:20px; text-transform:uppercase;}

   .slider-program .text .block .btn-more{margin-top:20px; border:2px solid var(--gray); color:var(--white); height: 50px; line-height: 46px;}

   .slider-program .image{position:relative; overflow: hidden;    height: 100%;   }

   .slider-program .image:before{display:block; content:''; padding-top:100%;}

   .slider-program .image .img{position:absolute; top:0; left:0; width:100%; height:100%; background-size:cover; background-repeat: no-repeat; background-position:top; transition: all 1.8s cubic-bezier(0,.96,.28,1.01);}

   .slider-program .image .icon{position:absolute; display:flex; top:20px; right:20px; width:50px; height:50px; border-radius:100%; background-color:var(--white); align-items:center; justify-content:center;z-index: 4;}

   .slider-program .image .icon img{width:22px; height:auto; }

   .slider-program .slider-nav{position:absolute;}

   .slider-program .button-prev, .slider-program .button-next{position:absolute; display:flex; bottom:0; left:0; right:0; width:60px; height:60px; margin:auto; z-index:1; align-items:center; justify-content:center; cursor:pointer;}

   .slider-program .button-prev::before, .slider-program .button-next::before{content:''; width:20px; height:20px; border-top:4px solid var(--white); border-radius:3px;}

   .slider-program .button-prev{left:-60px;}

   .slider-program .button-prev::before{border-left:4px solid var(--white); transform:rotate(-45deg);}

   .slider-program .button-next{right:-60px;}

   .slider-program .button-next::before{border-right:4px solid var(--white); transform:rotate(45deg);}

   .slider-program a.image-link{
       width: 50%;
   }
   .slider-program .button-next:hover:before{
        border-right:4px solid var(--yellow-edit);
        border-top: 4px solid var(--yellow-edit);
   }
   .slider-program .button-prev:hover:before{
        border-left:4px solid var(--yellow-edit);
        border-top:4px solid var(--yellow-edit);
   }
   
    .slider-program .image:hover .img{
        transform: scale(1.1);
        transition: all 1.8s cubic-bezier(0,.96,.28,1.01);
    }
    .slider-program .image:hover .icon{
        background-color: var(--yellow-edit);
    }
    .slider-program .image .block-hover{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        overflow: hidden;
    }
    .slider-program .image .block-hover .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        opacity: 0;
        transition: opacity .3s ease-out;
        backface-visibility: hidden;
    }
    .slider-program .image:hover .block-hover .bg{
        opacity: 1;
    }
    .slider-program .image .block-hover .border{
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        border: 4px solid var(--white);
        position: absolute;
        left: 0;
        top: 0;
        transition: all .3s ease-out;
        transform: matrix(1,0,0,1,-5,-5);
        backface-visibility: hidden;
        z-index: 4;
    }
    .slider-program .text .block .btn-more:hover .btn-icon .inner .submit-icon{
        transform: scale(1);
    }
    .slider-program .btn-more:hover .slider-program .btn-icon .inner .submit-icon{
        transform: scale(1) !important;
    }
   .slider-program .image .img{
       background-position:top right !important;
     }
   
    @media screen and (max-width:1024px){
        .slider-program .text .block{
            max-width: 65%;
        }
        .slider-program .image .img{
            background-size: initial;
        }

    }
    
   @media screen and (max-width:968px){
    
      .slider-program{ margin:auto;}

      .slider-program .frame{flex-direction:column; height: auto;}

      .slider-program .text{width:100%; order:2; height: auto;}
      
      .slider-program a.image-link {
         width: 100%;
      }
      .slider-program .image{width:100%; order:1;height: 340px;}

      .slider-program .button-prev{ top: 310px; left:0; right:inherit;}

      .slider-program .button-next{ top: 310px; left:inherit; right:0;}
     
      .slider-program .button-prev, .slider-program .button-next{
          bottom: initial;
          background-color: rgba(0, 0, 0, 0.6);
      }
   }
   
   @media screen and (max-width:488px){
    .block-formacao-info>.content{
        margin: 50px auto -40px;
    }
    .slider-program .text .block {
        max-width: 72%;
        }
      .slider-program .text .block h5{
          font-size: 13px;
      }
      .slider-program .text .block p{
        font-size: 16px;
        line-height: 23px;
      }
      .slider-program .text .block h4{
        font-size: 16px;
        margin: 16px 0 2px;
      }
   }
 
