@media screen and (max-width:940px){
	html{
		font-size:50%;
	}
}
@media screen and (max-width:785px){
	html{
		font-size:62.5%;
	}
}
@media screen and (max-width:700px){
	html{
		font-size:50%;
	}
}
@media screen and (max-width:600px){
	.logo{
		left:10px;
		top:10px;
		.page-loader{
			height:36px;
			  transform: matrix(1, 0, 0, 1, 30, 0);
			.inner{
				width:32px;
				height:32px;
				.dot{
					width:4px;
					height:4px;
				}
			}
		}
		&.loading{
			.page-loader{
				width:32px;
				
				.inner{
					padding:4px;
				}
			}
		}
		&.collapsed{
			transform:matrix(1,0,0,1,0,-1);
		}
		span{
			width:32px;
			height:32px;
			svg{
				width:32px;
				height:32px;
			}
			&.logo-e{
				left:0;
				top:0;
				transition: none;
			}
			&.logo-d{
				left:30px;
				top:0px;
				transition: none;
			}
			&.logo-i{
				left:60px;
				top:0px;
				transition: none;
			}
			&.logo-t{
				left:90px;
				top:0px;
				transition: none;
			}
			.logo-dot{
				width:4px;
				height:4px;
				bottom:6px;
				right:5px;

			}
		}
		&.expanded-1{
			@include transition(transform 0.3s 0s);
			span{
				
				
				&.logo-e{
					transition: none;
					transform: matrix(1,0,0,1,0,0);
					svg{
						*{
							@include transition(all 0.1s 0s);
							fill:#000;
						}
					}
				}
				&.logo-d{
					transition: none;
					transform: matrix(1,0,0,1,-30,30);
					svg{
						*{
							@include transition(all 0.1s 0s);
							fill:#000;
						}
					}
				}
				&.logo-i{
					transition: none;
					transform: matrix(1,0,0,1,-60,60);
					svg{
						*{
							@include transition(all 0.1s 0s);
							fill:#000;
						}
					}
				}
				&.logo-t{
					transition: none;
					transform: matrix(1,0,0,1,-90,90);
					svg{
						*{
							@include transition(all 0.1s 0s);
							fill:#000;
							&.dot{
								fill:#FFDD00;
							}
						}
					}
				}
			}
		}
	}

	.module-title{
		min-height: 110px;
		br{
			display: none;
		}
		h2{
			font-size:40px;
			line-height: 40px;
		}
		svg{
			display: none;
		}
	}

}
@media screen and (max-width:500px){
	html{
		font-size:62.5%;
	}
}
@media screen and (max-width:460px){
	html{
		font-size:50%;
	}
}
@media screen and (max-width:360px){
	html{
		font-size:62.5%;
	}
}